body {
    margin-left: 10%;
    margin-right: 10%
}

.top-stripe {
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

#footer {
    border-top: solid black 1px;
    margin-top: 20px;
}

.title {
    margin-block-end: 0px;
}
.subtitle {
    margin-block-start: 0px;
}

.signout-button {
    margin-bottom: 20px;
}